.content {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .form-group {
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 0.5rem;
      font-weight: bold;
    }

    input {
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 1rem;
    }
  }

  .btn {
    width: fit-content;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    background-color: #357ab8;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;

    &:hover {
      background-color: #bfc2c4;
    }
  }
}
