.card {
  background: white;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.errors {
  color: $error;
  list-style: disc;
  margin-top: 1rem;
}
